<div id="profile">
	
	
	<div id="top-level-data">
		<img src="http://graph.facebook.com/<%= user.get('id') %>/picture?type=large" alt="<%= user.get("name") %>" />
		
		<h1><%= user.get("name") %></h1>
		<p><%= user.get('location').name %></p>
		<br class="clear" />
	</div>
	<div id="user-attributes">
	</div>
	<div id="user-manual">
		<label>You can use this space to write a profile about yourself. Optional.</label>
		<textarea name="manual-profile"></textarea>
	</div>
	<br class="clear" />
	<div id="next-page">
		<a href="#web" class="button">Continue to Your Web</a>
	</div>
	<br class="clear" />
</div>
