#profile {
	width: 920px;
	margin: 40px auto 0 auto;
	min-height: 500px;
	background: #eee url(../images/eee_noise.png);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px #000;
	position: relative;
	
}
#profile h1 {
	font-size: 55px;
}
#profile h2 {
	border-bottom: 1px solid #CCC;
	text-transform: uppercase;
	font-family: 'Vollkorn';
	font-weight: normal;
}
#profile ul, #profile ul li {
	padding: 0;
	margin: 0;

}
#profile #user-attributes ul li {
	list-style: none;
	float: left;
	background: #CCC url(../images/ccc_noise.png);
	box-shadow: inset 0 0 4px #bbb;
	border: 1px solid #aaa;
	margin-right: 20px;
	border-radius: 5px;
	padding: 5px 20px;
	margin-bottom: 20px;
	position: relative;

}
#profile #user-attributes .remove_all {
	float: right;
	margin-left: 20px;
	margin-bottom: 35px;
}
#profile #user-attributes ul li .remove {
	background: url(../images/remove.gif) no-repeat;
	width: 13px;
	height: 11px;
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
}
#profile #top-level-data {
	
	padding-bottom: 20px;
}
#profile #top-level-data img {
	float: left;
	margin-right: 20px;
}


#next-page {
	display: none;
	
	
	right: 40px;
	padding-top: 40px;
	text-align: right;
	font-size: 20px;
}
#next-page .button { 
	color: white;
	margin-bottom: 40px;
}
textarea[name=manual-profile] {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	clear: both;
	margin-top: 20px;
	height: 80px;
}