<script src="static/js/libs/jquery/jquery.ui.min.js"></script>
<script src="static/js/libs/paper/paper.js"></script>
<script src="static/js/libs/jquery.fancybox.pack.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

<canvas id="spiderweb" resize><p>Your browser does not support this website.</p></canvas>

<div id="search-field-container">
	<form><input rel="Enter your query" type="text" id="search-field" /></form>
	<p id="text_field_p">here it goes</p>
</div>
<div id="sliders">
	<div id="sliders-inner">
		<div class="slider-container">
			<label>Number of roommates</label>
			<div class="slider"></div>
		</div>
	</div>
</div>
<div id="group">
	<div id="group-bg"></div>
	<div id="group-content"></div>
	<a href="#hunt" class="button">Go Hunting!</a>
</div>