body, html {
	padding: 0;
	margin: 0;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #333;
}
#profile {
	margin-top: 40px;
	width: 800px;
	margin: 0 auto;
	background: #CCC;
	min-height: 200px;
}