<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="static/css/jquery.fancybox.css">
	<link rel="stylesheet" href="static/css/boilerplate.css">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/profile.css">
	<link rel="stylesheet" href="static/css/web.css">
	<link rel="stylesheet" href="static/css/hunt.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script src="static/js/libs/jquery/jquery-ui.1.8.23.js"></script>
	<script src="static/js/libs/facebook/facebook-min.js"></script>
	<script src="static/js/libs/underscore/underscore-min.js"></script>
	<script src="static/js/libs/backbone/backbone-optamd3-min.js"></script>
	<script src="static/js/libs/tween/tween.js"></script>
	<script src="static/js/libs/jquery/jquery.1.7.2.js"></script>
	<script src="static/js/libs/jquery/effects.core.js"></script>

	<script data-main="static/js/main" src="static/js/libs/require/require.js"></script>

	
</head>
<body>

<div id="fb-root"></div>
<div id="loading-page" class="page loading-large">
	<br /><br /><br /><br /><br /><br />
	<h1>Loading</h1>
	
    
	
</div> 
<div id="reel"></div>
<div class="fb-login-container"><div class="fb-login-button">Login with Facebook</div>	</div>
</body>
</html>
